{{#if showModalDialog}}
	{{#modal-dialog translucentOverlay=true close='closeModalDialog'}}
		<div class="middle">hi</div>
		<div class="subscribe-modal-button">
			<a class="btn btn-big" {{action "subscribe"}}>Go</a>
		</div>
		
	{{/modal-dialog}}
{{/if}}
<div class="row">
	{{#trips-filter
	        filter=(action 'filterByTrip')
	        as |trips|}}
	        <div class="col-md-6">
	                <ul class="list-group">
	                    {{#each trips as |trip|}}
	                        {{#trip-select setTrip="pickTrip" trip_name=trip.trip_name id=trip.id}}
	                        {{/trip-select}}
	                    {{/each}}
	                </ul>
	        </div>
	{{/trips-filter}}
	{{#if showSchedule}}
		{{trip-schedule stops=stops openModalDialog="openModalDialog"}}
	{{/if}}
</div>


