{{#trips-filter
        direction=direction
        filter=(action 'filterByTrip')
        as |trips|}}
        <div class="col-md-8">
                <ul class="list-group">
                    {{#each trips as |trip|}}
                        <li class="list-group-item">{{trip.trip_name}}</li>
                    {{/each}}
                </ul>
        </div>
{{/trips-filter}}

{{!-- {{#each model as |trip|}}
    <li class="list-group-item" onclick={{action "getTrips"}}>{{trip.trip_name}}</li>
{{/each}} --}}