<div class="myclass">
	{{ember-selectize
		placeholder="Direction"
		create=false
		content=contents
		disabled=disabled
		value=value
	}}
	<div class="btn btn-primary" {{action "setDirection" value}}>Go</div>
</div>

