<div class="subscriptions-list">
	<div class="subscriptions-list-header">
		<h1>Subscriptions:</h1>
	</div>
	<div class="subscriptions-list-content list-group col-md-6">
		{{#each subscriptions as |subscription|}}			
			{{#subscription-select trip_name=subscription.trip_name}}
			{{/subscription-select}}
		{{/each}}
	</div>
</div>

