<div class="jumbotron home-container">
	<h2>Welcome to the MBTA Notifications App</h2>
	<i>To get started on recieving SMS notifications for your most frequented commuter rail trips, head over to <a href="routes">Search Routes</a></i>
</div>

